<html>
  <head>
<tmpl_var name=HEAD>
  </head>
  <body>
    <h1> <tmpl_var name=APP_TITLE> </h1>
    <p>An error has ocurred: </p>
    <table align='center' border=1>
      <tr>
        <td bgcolor='#FFCCCC'>
          <p> <tmpl_var name=ERROR_MESSAGE> </p>
        </td>
      </tr>
    </table>
    <tmpl_var name=FOOTER>
  </body>
</html>
