<html>
  <head>
<title> <tmpl_var name=HEAD> </title>
  </head>
  <body>
    <h1> <tmpl_var name=TITLE> </h1>
    <p>Expired session</p>
    <p>Please, <a href='login.pl'>login</a> again</p>
    <tmpl_var name=FOOTER>
  </body>
</html>
