<html>
  <head>
<title> <tmpl_var name=HEAD> </title>
  </head>
  <body>
    <h1> <tmpl_var name=APP_TITLE> </h1>
    <p>You are not logged in</p>
    <p>Please, <a href='login.pl'>login</a>.</p>
  </body>
</html>
