<html>
  <head>
<tmpl_var name=HEAD>
  </head>
  <body>
    <h1> <tmpl_var name=APP_TITLE> </h1>
    <table align='center' border=1>
      <tr>
        <td>
          <p>left</p>
          <p><a href='login.pl?action=logout'>Logout</a></p>
        </td>
        <td>
          right
        </td>
      </tr>
    </table>
  </body>
</html>
